@import 'tailwindcss';
@plugin "@tailwindcss/typography";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-surface: #0e1225;

  --color-button: #2e4264; /* não há "card" distinto no hero; use o mesmo ou ajuste */
  --color-button-outer: #1e293c;

  --color-textc-primary: #f6f9fc;
  --color-textc-secondary: #8a879d;

  --color-borderc-subtle: #293651;

  --color-accent-pink: #ec436d; /* título Bermuda */
  --color-accent-pink-light: #eb4970; /* badge "New" */
  --color-accent-green: #41d67b; /* Spotify */
  --color-accent-purple: #e63fe6; /* Apple Podcasts */
}
